In [3]:
import yfinance as yf

# Extracting GME Stock Data
gme_ticker = yf.Ticker("GME")
gme_data = gme_ticker.history(period="max")

# Resetting the index
gme_data_reset = gme_data.reset_index()

# Convert the DataFrame to JSON format; orient='records' makes the JSON file more readable
# by writing each row as a JSON object
gme_json = gme_data.to_json(orient='records')

# Define the filename
filename = 'gme.json'

# Write the JSON data to a file
with open(filename, 'w') as file:
    file.write(gme_json)

# Display the first five rows of the dataframe
gme_data_reset_head = gme_data_reset.head()
gme_data_reset_head

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670625,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0